services:
  riva-sx:
    image: alpine
    container_name: riva-sx
    working_dir: /game
    volumes:
      - ./:/game
    # Installiamo bash e netcat-openbsd per stabilità
    command: /bin/sh -c "apk add --no-cache bash netcat-openbsd && tail -f /dev/null"
    networks:
      - fiume

  riva-dx:
    image: alpine
    container_name: riva-dx
    working_dir: /game
    volumes:
      - ./:/game
    # Installiamo bash e netcat-openbsd per stabilità
    command: /bin/sh -c "apk add --no-cache bash netcat-openbsd && tail -f /dev/null"
    networks:
      - fiume

  arbitro:
    image: alpine
    container_name: arbitro
    # Installiamo netcat-openbsd anche qui
    command: /bin/sh -c "apk add --no-cache netcat-openbsd && while true; do nc -l -u -p 9999; done"
    networks:
      - fiume

networks:
  fiume:
    driver: bridge